!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
urxvt.background: black
urxvt.foreground: gray

!! Font prefferenes
urxvt.font: xft:DejaVuSansMono Nerd Font:style=Book
urxvt.boldFont: xft:DejaVuSansMono Nerd Font:style=Bold
urxvt.letterSpace: -1

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease


!! cloned conf for urxvt-floating (is there a better way?)

!! Appearance
urxvt-floating.termName: rxvt-unicode
urxvt-floating.scrollBar: false
urxvt-floating.background: black
urxvt-floating.foreground: gray

!! Font prefferenes
urxvt-floating.font: xft:DejaVuSansMono Nerd Font:style=Book
urxvt-floating.boldFont: xft:DejaVuSansMono Nerd Font:style=Bold
urxvt-floating.letterSpace: -1

!! Perl extensions
urxvt-floating.perl-ext-common: default,matcher,font-size
!! Open urls in browser with Control-Click
urxvt-floating.urlLauncher: /usr/bin/firefox
urxvt-floating.matcher.button: C1
!! Change font size on Control-Plus/Minus
urxvt-floating.keysym.Control-0x2b: perl:font-size:increase
urxvt-floating.keysym.Control-0x2d: perl:font-size:decrease


! terminal.sexy

*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
