[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/federico/Desktop/NEPL-D-20-00229_R1.pdf]
row=5
col=0

[/home/federico/Desktop/question.pdf]
row=8
col=0

[/home/federico/Desktop/mnn-flat.zip]
row=11
col=0

[/home/federico/Desktop/NEPL-D-20-00229_R1.txt]
row=4
col=0

[/home/federico/Desktop/mesh-neural-networks-arxiv.zip]
row=0
col=1

[/home/federico/Desktop/brave-ilmgmogedobmcfegdjcibiiaodmdenpf-Default.desktop]
row=6
col=0

[/home/federico/Desktop/mesh-neural-networks-arxiv (1).zip]
row=10
col=0

[/home/federico/Desktop/mnn_flat.pdf]
row=7
col=0

[/home/federico/Desktop/mesh_neural_networks_arxiv.pdf]
row=9
col=0

[5efabfd8-4ae8-4a36-81f2-e91d98d7acd0]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/federico]
row=3
col=0

